.header{
    height: auto;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    padding: 20PX;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
   

}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
   
    
} 
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    gap: 15px;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;

    color: var(--white-color);
    text-decoration: none;
    font-weight: 300px;
    
}
.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link{
    display: inline-flex;
}
.header__navbar-item--strong{
    font-weight: 400;
}



.header__navbar-item--strong::after{
    content: "";
    display: inline-block;
    position: absolute;
   border-left:2px solid #fb9086;
    height: 15px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
   
}
.header__navbar-item--separate::after{
    content: "";
    display: inline-block;
    position: absolute;
   border-left:2px solid #fb9086;
    height: 15px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
   
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.4rem;
    margin:  0 7px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
.search-card img {
    width: 100px;
    height: 50px;
}
.search-card input {
    width: inherit;
    border: none;
    height: 100%;
    padding: 0 15px;
   
}
.search-card i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 26px;
    
}
.search-card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    
}
.total {
    margin-top: 20px;
    position: relative;

}
.icon-search {
    position: absolute;
    right: 3px;
    height: 90%;
    width: 60px;
    background-color:#f53e2d;
    padding: 5px 25px;
    top: 2px;
   

}
@media screen and (min-width: 900px) {
    
}
.card {
    width: 100%;
    border-radius: 0 !important;
    padding: 20px;
    border: none !important;
}
.card-title {
    padding-bottom: 10px;
}
.card-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 !important;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.card-item {
    padding: 20px;
    width: 15%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.card-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.card-item p {
    text-align: center;
}
